@import "tailwindcss";

@plugin "daisyui" {
    themes: lightX --default, nightX --prefersdark;
}

@plugin "daisyui/theme" {
    name: "lightX";
    default: true;
    prefersdark: false;
    color-scheme: light;

    --color-base-100: #f6f4ff;
    --color-base-200: #ffffff;
    --color-base-300: #ede9fe;
    --color-base-content: #1f1b2e;

    --color-primary: #7c3aed;
    --color-primary-content: #ffffff;

    --color-secondary: #a78bfa;
    --color-secondary-content: #1f1b2e;

    --color-accent: #c084fc;
    --color-accent-content: #1f1b2e;

    --color-neutral: #2a223d;
    --color-neutral-content: #ffffff;

    --color-info: #60a5fa;
    --color-success: #34d399;
    --color-warning: #fbbf24;
    --color-error: #f87171;

    --radius-box: 1rem;
    --radius-field: 9999px;
    --radius-selector: 9999px;
    --border: 1px;
}

@plugin "daisyui/theme" {
    name: "nightX";
    default: false;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: #1a1035;
    --color-base-200: #241848;
    --color-base-300: #2e1f5e;
    --color-base-content: #f5f3ff;

    --color-primary: #7c3aed;
    --color-primary-content: #ffffff;

    --color-secondary: #a78bfa;
    --color-secondary-content: #140f22;

    --color-accent: #c084fc;
    --color-accent-content: #140f22;

    --color-neutral: #140f22;
    --color-neutral-content: #f5f3ff;

    --color-info: #60a5fa;
    --color-success: #34d399;
    --color-warning: #fbbf24;
    --color-error: #f87171;

    --radius-box: 1rem;
    --radius-field: 9999px;
    --radius-selector: 9999px;
    --border: 1px;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}